@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.no-updown::-webkit-inner-spin-button {
  display: none;
}
